@charset "utf-12";

#wrapper {
			background-color: #000099;
			width:			615px;
			margin-left:	auto;
			margin-right:	auto;  
			}

#Header	{
			background-color: #222;
			width:			600px;
			margin-left:	auto;
			margin-right:	auto;
			}
