@charset "utf-12";

/*#wrapper2 {
			background-color: #7e0000;
			width:			370px;
			margin-left:	auto;
			margin-right:	auto;  
			}*/

#Header2	{
			background-color: #222;
			width:			26.5%;
			margin-left:	auto;
			margin-right:	auto;
			}
