@charset "utf-12";

#wrapper {
			background-color: #FFF;
			width:		301px;
			margin-left:	auto;
			margin-right:	auto;  
			}

#Header	{
			background-color: #222;
			width:			300px;
			margin-left:	auto;
			margin-right:	auto;
			}
