@charset "utf-12";

#wrapper4 {
			background-color: #654321;
			width:			205px;
			margin-left:	auto;
			margin-right:	auto;  
			}

#Header4	{
			background-color: #222;
			width:			200px;
			margin-left:	auto;
			margin-right:	auto;
			}
