@charset "utf-12";

#wrapper2 {
			background-color: #7e0000;
			width:			465px;
			margin-left:	auto;
			margin-right:	auto;  
			}

#Header2	{
			background-color: #222;
			width:			450px;
			margin-left:	auto;
			margin-right:	auto;
			}
